<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocuDodge - Code Review</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header">
      <h1>DocuDodge - Code Review</h1>
    </div>
    <div class="container">
      <div class="column" id="original-code">
        <h2>Original Code</h2>
        <pre><code>{{ original_code }}</code></pre>
      </div>
      <div class="column" id="commented-code">
        <h2>Commented Code</h2>
        <pre><code>{{ commented_code }}</code></pre>
      </div>
    </div>
    <div id="loading-bar" class="loading-bar"></div>
    <!-- No need for upload.js script here -->
  </body>
</html>
