<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocuDodge - Upload</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header">
      <h1>DocuDodge - Code Commenting Tool</h1>
      <label for="file-input" class="upload-btn">Choose File</label>
      <input type="file" id="file-input" onchange="displayFileContent()" />
      <button class="upload-btn" onclick="commentFile()">Comment File</button>
    </div>
    <div class="container">
      <div class="column" id="file-content">
        <h2>Original Code</h2>
        <pre><code></code></pre>
      </div>
      <div class="column" id="comments">
        <h2>Comments</h2>
        <pre><code></code></pre>
      </div>
    </div>
    <div id="loading-bar" class="loading-bar"></div>
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
  </body>
</html>
